<template name="appMap">
    {{> objectForm }}

    <div class="relative">
        <div id="map"></div>

        <div id="filters">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Filters</h3>
                </div>
                <div class="panel-body">
                    {{#each types}}
                        {{> appMap_filters_type }}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>

    <div style="display: none;">
        <div id="popup">
            {{> appMap_pinPopup data=dataContext }}
        </div>
    </div>
</template>

<template name="appMap_filters_type">
    <div class="checkbox">
        <label>
            <input type="checkbox" value="{{ this }}" /> {{{ iconByType this }}} {{ this }}
        </label>
    </div>
</template>

<template name="appMap_pinPopup">
    <h3>{{ data.title }}</h3>
    <p><b>Danger level:</b> {{ data.danger_level }}</p>
    <p>{{ data.description }}</p>
</template>